<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :upc %>
    <%= form.text_field :upc, id: :product_upc %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku, id: :product_sku %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :product_brand %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :product_size %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :product_currency %>
  </div>

  <div class="field">
    <%= form.label :retail %>
    <%= form.text_field :retail, id: :product_retail %>
  </div>

  <div class="field">
    <%= form.label :wholesale %>
    <%= form.text_field :wholesale, id: :product_wholesale %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url, id: :product_img_url %>
  </div>

    <div class="field">
    <%= form.label :collection %>
    <%= form.text_field :collection, id: :product_collection %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
