<p id="notice"><%= notice %></p>

<h2>Import Products</h2>

<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>UPC</th>
      <th>SKU</th>
      <th>Brand</th>
      <th>Size</th>
      <th>Currency</th>
      <th>Retail</th>
      <th>Wholesale</th>
      <th>Img Url</th>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.upc %></td>
        <td><%= product.sku %></td>
        <td><%= product.brand %></td>
        <td><%= product.size %></td>
        <td><%= product.currency %></td>
        <td><%= product.retail %></td>
        <td><%= product.wholesale %></td>
        <td><%= product.img_url %></td>
        <td><%= product.collection %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path,class:"btn btn-primary" %>

<hr>

<div class="album text-muted">
  <div class="container">
    
    <div class="row">
         <% @products.each do |product| %>
          <div class="card">
            <%= display_image_for_product(product) %>
            <strong class="card-text">SKU: <%= product.sku %></strong>
            <p class="card-text">Retail: <%= product.retail %></p>
            <p class="card-text">Wholesale: <%= product.wholesale %></p>
            <p class="card-text">UPC: <%= product.upc %></p>
            <p class="card-text">UPC: <%= product.collection %></p>
         </div>
        <% end %>
      </div>
   </div>
</div>
